$primary-color: #81358A;
$full-color: #662482;
$secondary-color: #ffffff;
$third-color: #836C86;
$asset-color: #975A9F;

.uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: $primary-color;
  color: #ffffff;
}

.uk-navbar-nav>li>a{
  color: #ffffff;
}

.uk-navbar-nav>li>a:hover{
  color: #f8f8f8;
}

.navbar {
  background-color: #ffffff;
  padding: 10px 40px 10px 40px;
}

.sub-navbar {
  background-color: #ffffff;
  padding: 0px 40px 0px 40px;
}

body {
  background-color: #f8f8f8;
}

.uk-cover {
  height: 300px;
}

.footer {
  background-color: $primary-color;
  color: #ffffff;

  .uk-h3, h3 {
    color: #ffffff;
  }
}

.expand-media {
  color: #ffffff;
}

.uk-button-secondary {
  background-color: $full-color;
}

.uk-button-primary {
  background-color: $asset-color;
}

.uk-button-primary:hover {
  background-color: $third-color;
}