.uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: #81358A;
  color: #ffffff; }

.uk-navbar-nav > li > a {
  color: #ffffff; }

.uk-navbar-nav > li > a:hover {
  color: #f8f8f8; }

.navbar {
  background-color: #ffffff;
  padding: 10px 40px 10px 40px; }

.sub-navbar {
  background-color: #ffffff;
  padding: 0px 40px 0px 40px; }

body {
  background-color: #f8f8f8; }

.uk-cover {
  height: 300px; }

.footer {
  background-color: #81358A;
  color: #ffffff; }
  .footer .uk-h3, .footer h3 {
    color: #ffffff; }

.expand-media {
  color: #ffffff; }

.uk-button-secondary {
  background-color: #662482; }

.uk-button-primary {
  background-color: #975A9F; }

.uk-button-primary:hover {
  background-color: #836C86; }

/*# sourceMappingURL=style.css.map */
